<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :begining_at %>
    <%= f.datetime_select :begining_at %>
  </div>
  <div class="field">
    <%= f.label :ending_at %>
    <%= f.datetime_select :ending_at %>
  </div>
  <div class="field">
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :full_description %>
    <%= f.text_area :full_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
