<% content_for :navigation do %>
  <%= render :partial => "edit_navigation" %>
<% end %>

<span class="actions">
  <%= link_to_done event_path(@event) %>
</span>

<h1><%= @event.title %> - Edit</h1>
<%= render :partial => "geo_map_edit" %>
<%= render :partial => "event_edit" %>


