<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Begining at:</b>
  <%= @event.begining_at %>
</p>

<p>
  <b>Ending at:</b>
  <%= @event.ending_at %>
</p>

<p>
  <b>Abstract:</b>
  <%= @event.abstract %>
</p>

<p>
  <b>Full description:</b>
  <%= @event.full_description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
