<% content_for :sidebar do %>
<%= render :partial => "form_update_participation" %>
<% end %>

<h1><%= @event.title %></h1>
<p class="event_date"><%= readable_timestamp(@event.begining_at) %> - <%= readable_timestamp(@event.ending_at) %></p>
<div class="event_abstract"><%= @event.abstract %></div>
<div class="event_full_description"><%= @event.full_description %></div>
