<!DOCTYPE html>
<html>
<head>
  <title>Ibento</title>
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= stylesheet_link_tag "reset", "scaffold", "ibento" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>
  <div id="header">
    <%= image_tag "ibento.png", :alt => 'Ibento logo', :id => 'header_logo' %>

  </div>
  <div id="content">
    <div id="navigation">
      
    </div>
    <%= yield %>
  </div>
  <div id="footer">
    
  </div>

</body>
</html>
